html, body {
	font-family: 'Lato', sans-serif;
}

.jumbotron h1, .jumbotron .h1 {
	font-weight: 300;
	font-size: 6em;
}

.jumbotron p {
	font-size: 26px;
	font-weight: 300;
}

.jambi-bg {
	background: url('../img/jambi2.jpg');
	padding-bottom: 30%;
}

.jambi-info {
	position: absolute;
	margin: 0px auto;
	z-index: 20;
}

.btn {
	border-radius: 1px;
}

.spacer {
	padding-bottom: 30px;
}
.spacer-large {
	padding-bottom: 80px;
}

.center {
	text-align: center;
}

.small {
	font-size: 12px;
}


body {
  padding-bottom: 40px;
  color: #5a5a5a;
}






/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
	padding-top: 30%;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}