
h1 {
	font-weight: 300;
	font-size: 6em;
}

.jumbotron p {
	font-size: 26px;
	font-weight: 300;
}

.jambi-bg {
	background: url('../img/jambi2.jpg');
	padding-bottom: 30%;
}

.jambi-info {
	position: absolute;
	margin: 0px auto;
	z-index: 20;
}

.spacer {
	padding-bottom: 30px;
}
.spacer-large {
	padding-bottom: 80px;
}

.center {
	text-align: center;
}

.small {
	font-size: 12px;
}


body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



