<div id="tab1">
	<div class="editor-container" id="jambi-editor"></div>
</div>

<div class="sidebar">
	<div class="sidebar-title center">
		Jambi
	</div>
	
	<div class="sidebar-content">
		<h4>Timer</h4>
		<div class="timer">
			<button class="btn btn-mini btn-blue" id="jambiStartTimer">Start Timer</button>
			<button class="btn btn-mini btn-blue" id="jambiStopTimer">Stop Timer</button>
			<br>
			<span id="jambi_timer_hours">00</span>:<span id="jambi_timer_mins">00</span>:<span id="jambi_timer_secs">00</span>
		</div>
		
		<div class="jambiStatusBar">
			Status: <span id="jambiStatus"></span>
		</div>
		
		<button id="jshintcode" class="btn btn-blue hidden">JSHint</button>
		<div class="jsErrors" id="jsErrors">
		
		
		</div>
	</div>
	
	<div class="sidebar-footer">
		<div>
			<input id="stackoverflow_search" type="text" style="width:90%;" placeholder="Search Stackoverflow.com"/>
		</div>
	</div>
</div>
