
<div class="editor-container" id="jambi-editor"></div>

<div class="sidebar inView">
	<div class="sidebar-title center">
		Jambi
	</div>
	<div class="sidebar-title-after"></div>
	
	
	
		
        <div class="sidebar-heading">
            Jambi Servers
    	</div>
        <div class="sidebar-content">
    		<div class="jambiStatusBar">
    			Status: <span id="jambiStatus"></span>
    		</div>
    		
    		<button id="jshintcode" class="btn btn-blue hidden">JSHint</button>
    		<div class="jsErrors" id="jsErrors">
    				
    		
    		</div>
    	</div>
	
	
	<div class="sidebar-heading">
        Timers
	</div>
	<div class="sidebar-timers">
		<div class="timer">
			<button class="btn btn-mini btn-blue" id="jambiStartTimer">Start Timer</button>
			<button class="btn btn-mini btn-blue" id="jambiStopTimer">Stop Timer</button>
			<br>
			<span id="jambi_timer_hours">00</span>:<span id="jambi_timer_mins">00</span>:<span id="jambi_timer_secs">00</span>
		</div>
	</div>
	
	<div class="sidebar-heading">
	    Search Stackoverflow
	</div>
    <div class="sidebar-content">
		<input id="stackoverflow_search" type="text" style="width:90%;" placeholder="Search Stackoverflow.com"/>
	</div>
</div>