<script type="text/html" id="projectsTemplate">

</script>

<div class="projects">
	<div class="showcase">
        <div class="col-sm-6">
        	<table class="table" id="projectsTable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Last Opened</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
        </div>

        <div class="col-sm-6">
            Stuff

        </div>



	    <!--<div class="project-container" id="projects">
	   </div>-->
	</div>
</div>