<div class="projects">
	<div class="showcase">
	    <div class="project-container">
	        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 project">
	            <div class="project-image"></div>
	            <div class="project-name"><%=name %></div>
	        </div>   
	        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 project">
	            <div class="project-image"></div>
	            <div class="project-name"><%=name %></div>
	        </div>   
	        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 project">
	            <div class="project-image"></div>
	            <div class="project-name"><%=name %></div>
	        </div>   
	        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 project">
	            <div class="project-image"></div>
	            <div class="project-name"><%=name %></div>
	        </div>   
	        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 project">
	            <div class="project-image"></div>
	            <div class="project-name"><%=name %></div>
	        </div>   
	        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 project">
	            <div class="project-image"></div>
	            <div class="project-name"><%=name %></div>
	        </div>   
	   </div>
	</div>
</div>