<script type="text/html" id="projectsTemplate">

</script>

<div class="projects">
	<div class="showcase">
        <div class="col-sm-6 projets-table-container">
        	<table class="table" id="projectsTable" cellspacing="0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Last Opened</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
        </div>

        <div class="col-sm-6">
            <div class="projects-pc">
                <img src="public/img/jambi.jpg" id="projectImage"/>
            </div>
        </div>



	    <!--<div class="project-container" id="projects">
	   </div>-->
	</div>
</div>