<!--<div class="showcase-body">
	<div class="showcase">
		<div class="showcase-item hidden">
			<div class="showcase-watch"></div>
		</div>
		<div class="showcase-item hidden">
			<div class="showcase-phone"></div>
		</div>
		<div class="showcase-item hidden">
			<div class="showcase-tablet"></div>
		</div>
		<div class="showcase-item hidden">
			<div class="showcase-laptop"></div>
		</div>
		<div class="showcase-item">
			<div class="showcase-pc">
			</div>
		</div>
	</div>
</div>-->
<div class="showcase-body">
    <iframe class="showcase-iframe" src="http://localhost:8000" frameborder="0"></iframe>
</div>