<div class="file-browser">

    <div class="projects tools">
    	<div class="showcase">
        	<div class="projects-info">
            	<div class="project-info">
                	<div class="project-timers">
                        <div class="project-countdown">
                            <div id="DateCountdown" data-date="2015-03-09 00:00:00" style="width: 100%;"></div>
                        </div>
                	</div>
            	</div>

        	</div>
    	</div>
    </div>

</div>