<div id="sidebarList" class="sidebarMenuItem">
    <div class="sidebar-heading">
		CDNs <i class="fa fa-html5"></i>
	</div>
	<div class="sidebar-content">
        <div class="cdn-list" data-option="bootstrap_css">Bootstrap CSS</div>
        <div class="cdn-list" data-option="bootstrap_js">Bootstrap JS</div>
        <div class="cdn-list" data-option="jquery">jQuery</div>
        <div class="cdn-list" data-option="angular">Angular JS</div>
	</div>

    <div class="sidebar-heading">
		JS Components <i class="fa fa-magic"></i>
	</div>
	<div class="sidebar-content">
        <div class="cdn-list-2" id="sideListForLoop">For Loop</div>
	</div>

	<div class="sidebar-heading">
		jQuery Functions <i class="fa fa-exchange"></i>
	</div>
	<div class="sidebar-content">
        <div class="cdn-list" data-option="ajax_get">Ajax GET</div>
        <div class="cdn-list" data-option="ajax_post">Ajax POST</div>
	</div>

	<div class="sidebar-heading">
		Jambi Modules <i class="fa fa-exchange"></i>
	</div>
	<div class="sidebar-content">
        <div class="cdn-list" data-option="var_list">Variable Tracker</div>
	</div>




</div>