$lowbarpad: 2px;

.theme-selector select {
   background: transparent;
   border: 0;
   -webkit-appearance: none;
   font-size: 12px;
   &:focus {
	   outline: none;
   }
  
}
.theme-selector {
   overflow: hidden;
   display: inline-block;
   position: absolute;
   right: 220px;
   color: #d0d0d0;
   font-size: 12px;
   padding-top: $lowbarpad;
}

.editor-info {
	position: absolute;
	left: 40%;
	display: inline-block;
	font-size: 12px;
	padding-top: $lowbarpad;
}

@media screen and (max-width: 900px) {
    .theme-selector {
		right: 10px;
    }
    .editor-info {
		left: 30%;
    }
}

