$top-margin: 40px;
$font-size: 13px;
$linecounter-fontsize: 14px;

$editor-fontsize: 14px;
$editor-paddingtop: 25px;

$linecounter-color: rgba(255,255,255,0.8);

@font-face {
    font-family:"Meslo";
    src: url("MesloLGL-Regular.ttf") /* EOT file for IE */
}
@font-face {
    font-family:"Meslo";
    src: url("MesloLGL-Regular.ttf") /* TTF file for CSS3 browsers */
}

body,html, .container {
	font-family: 'Source Sans Pro', sans-serif;
	height: 100%;
	margin: 0;
	color: #fff;
}


h1,h2,h3 { font-weight: 200;}

.normal {font-weight: 300;}

.center {text-align: center;}
.centered {margin: 0 auto;}
.left { text-align: left;}
.right { text-align: right;}



.topbar {
	background-color: #c5c5c5;
	width: 100%;
	height: $top-margin;
	position: fixed;
	z-index: 11;
	user-select: none;
	-webkit-touch-callout: none;
      -webkit-user-select: none;
    cursor: default;
}

.topbar-tabs {
	overflow: auto;
	overflow-y: hidden;
	height: 100%;
	white-space: nowrap;
	height: 100%;
}

.file-container, #openfiles {
	background-color: #c2c2c2; 
	width: 150px;
	height: 100%;
	margin-left: -3px;
	display: inline-block;
	border-right: 1px solid #777777;
}

.file {
	padding-top: 12px;
	padding-left: 20px;
	padding-bottom: 12px;
	font-size: 13px;
	height: 100%;
}

.lc-container {
	font-size: $linecounter-fontsize;
	color: $linecounter-color;
	position: absolute;
	min-width: 35px;
	line-height: $editor-fontsize;
	padding-left: 5px;
	//margin-top: 20px;
	//padding-top: $editor-paddingtop + 1px;
	z-index: 10;
	left: 0;
}


.linecounter {
	position: relative;

}

.editor-container {
	padding-top: $editor-paddingtop;
	z-index: 1;
	width: 80%;
    width: -webkit-calc(100% - 220px);
    width: -moz-calc(100% - 220px);
    width: calc(100% - 220px);
    
    height: 100%;
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100% - 50px);

    
	position: absolute;
	margin-right: -230px;
	margin-top: 20px;
	background-color: #28a1f7;
}

.editor {
	position: absolute;
	font-family: 'Meslo', ;
	cursor: default;
	padding-right: 10px;
	padding-left: 50px;
	padding-bottom: 50px;
	font-size: $editor-fontsize;
	z-index: 1;
	height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100% - 50px);
    max-width: 100%;
    	width: 80%;
    width: -webkit-calc(100% - 55px);
    width: -moz-calc(100% - 55px);
    width: calc(100% - 55px);
	line-height: $editor-fontsize;
	overflow-y: scroll;
	overflow-x: hidden;
	background: transparent;
	border:none;
	color: #fff;
	&:focus {
		outline: none;
	}
}

.sidebar {
	right: 0;
	width: 220px;
	height: 100%;
	position: fixed;
	background-color: #f1f1f1;
	z-index: 10;
	padding-top: $top-margin;

}

.sidebar-title {
	font-size: 26px;
	background-color: #696969;
	padding: 5px;
}

.sidebar-content {
	color: #333;
	padding: 5px;
}

.sidebar-footer {
	position: absolute;
	bottom: 0;
	margin-bottom: 50px;
	margin-left: 10px;
}

.lowerbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 15px;
	background-color: #727272;
	z-index: 10;
}



