$top-margin: 45px;
$font-size: 13px;
$linecounter-fontsize: 13px;

$editor-fontsize: 13px;
$editor-paddingtop: 20px;

$linecounter-color: rgba(255,255,255,0.8);

$modal-border-radius: 3px;

$sidebar-width: 300px;

@font-face {
    font-family:"Meslo";
    src: url("MesloLGL-Regular.ttf");
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
    outline: none;
}

body,html, .container {
	font-family: 'Source Sans Pro', sans-serif;
	height: 100%;
	margin: 0;
	color: #fff;
	user-select: none;
	-webkit-touch-callout: none;
      -webkit-user-select: none;
    cursor: default !important;
}

html, body {
    width:      100%;
    height:     100%;
    overflow:   hidden;
}

body > div {
    height:     100%;
    overflow:   scroll;
}

::-webkit-scrollbar {
      width: 2px;
      height: 2px;
}

::-webkit-scrollbar-track {
      background-color: transparent;
}

::-webkit-scrollbar-thumb {
      background-color: rgba(255,255,255,0.8);
      border-radius: 5px;
}
a {
	text-decoration: none;
	color: #fff;

	&:hover {
    	cursor: default !important;
	}
}


h1,h2,h3 { font-weight: 200;}

.normal {font-weight: 300;}

.center {text-align: center;}
.centered {margin: 0 auto;}
.left { text-align: left;}
.right { text-align: right;}



.topbar {
	background-color: #333;
	width: 100%;
	height: $top-margin;
	position: fixed;
	z-index: 11;
	border-bottom: 2px solid black;
}

.topbar-tabs {
	overflow: auto;
	overflow-y: hidden;
    width: calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
	height: 100%;
	white-space: nowrap;
}

.file-container {
	width: 155px;
	height: 100%;
	display: inline-block;
//    cursor: pointer;
    margin-right: -3px;
}

.file {
	padding-top: 13px;
	padding-left: 20px;
	padding-bottom: 12px;
	font-size: 13px;
	height: 100%;
	color: #fff;
	position: relative;

	&:hover {
		& .close {
			opacity: 1;
		}
	}

	& .close {
	    position: absolute;
		color: #bcbcbc;
		opacity: 0;
		right: 10px;
		-webkit-transition:.3s;
				transition: .3s;

		&:hover {
			opacity: 1;
			color: #ffffff;
		}
	}

	&.active {
		background-color: rgba(0,107,255,0.66);
	}
}

.file:not(:first-child) {
    margin-left: 20px;
}

.newfile-tab,
.sidebar-toggle {
	font-size: 1.8em;
	color: #7a7a7a;
	right: 50px;
	top: 6px;
	position: absolute;
	-webkit-transition:.3s;
			transition: .3s;

	&:hover {
		color: #fff;
	}
}

.sidebar-toggle {
    right: 10px;
}


.editor-container {
	z-index: 1;
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px);

    height: 100%;
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);

	position: absolute;
	margin-right: -230px;
	top:40px;
	overflow: hidden;
	//background-color: #28a1f7;
}

.sidebar {
	right: 0;
	width: $sidebar-width;
	height: calc(100% - 18px);
	position: fixed;
	background-color: #f1f1f1;
    background-image: url('../img/blurtile.png');
    background-repeat: repeat;
	z-index: 10;
	padding-top: $top-margin;
	padding-bottom: 60px;
	margin-top: -5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0px -1px 5px #111;
}

.sidebar-title {
	font-size: 26px;
	background-color: #696969;
	padding: 5px 60px 5px 60px;
	font-weight: 200;
	position: fixed;
    width: $sidebar-width;
    z-index: 100;
}

.sidebar-title-after {
    margin-bottom: 45px;
}

.sidebar-content {
	padding: 5px;
}

.sidebar-heading {
    position: relative;
    padding: 5px;
	font-weight: 300;
    background-color: #111;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #727272;
}

.lowerbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: #727272;
	z-index: 10;
	display: inline-block;
}

.file-ul, .menuitems {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menuitem {
    height: 100%;
    width: 40px;
    margin-top: -30px;
    text-align: center;
    font-size: 22px;

    & i:hover {
        color: #ddd;
    }
}

.menu {
    overflow: auto;
    overflow-y: hidden;
    height: 100%;
    white-space: nowrap;
    padding-top: 15px;
    padding-left: 5px;
}

.inline {
    display: inline-block;
}

.jambi-body {
	background-color: #444;
	height: 100%;
}

.showcase-body {
	background: -webkit-linear-gradient(#393939 0%, #d3d3d3 100%);
	width: 100%;
	height: 90%;
}

.showcase {
	padding: 0;
	margin: 0;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.showcase-item {
	width: 80%;
    height: 80%;
    position: absolute;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}
.showcase-watch,
.showcase-phone,
.showcase-tablet,
.showcase-laptop,
.showcase-pc {
	background-size: contain;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.showcase-watch {
    background-image: url('../img/showcase/watch.png');
}

.showcase-phone {
	background-image: url('../img/showcase/phone.png');
}

.showcase-tablet {
	background-image: url('../img/showcase/tablet.png');
}

.showcase-laptop {
	background-image: url('../img/showcase/laptop.png');
}

.showcase-pc {
	background-image: url('../img/showcase/pc.png');

    & iframe {
        width: 1382px;
        height: 800px;
        margin-left: -311px;
        margin-top: -157px;
    }
}

iframe {
  -webkit-transform:scale(0.5);
  transform:scale(0.5);
}


.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
//	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 7px 15px;
	font-size: 15px;
	line-height: 1.1;
	border-radius: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}
.btn-mini {
	padding: 1px 5px;
	font-size: 13px;
	line-height: 1.5;
	border-radius: 0;
}
.btn-blue {
	color: #ffffff;
	background-color: #2780e3;
	border-color: #2780e3;

	&:hover {
		background-color: #2a69b7;
		border-color: #2a69b7;
	}
}

// Modal Stuff
	.jambiModal {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
	}

	.jambiModal:target {
		opacity:1;
		pointer-events: auto;
	}

	.jambiModal > .jambiModal-modal {
		width: 500px;
		position: relative;
		margin: 10% auto;
		border-radius: $modal-border-radius;
		background: #eaeaea;
		color: #333;
		word-wrap: break-word;
	}

	.jambiModalClose {
		color: #333;
		line-height: 25px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0px;
		width: 24px;
	}

	.jambiModalClose:hover { color: #8a8a8a; }

	.jambiModal-head {
		background-color: #c2c2c2;
		border-top-left-radius: $modal-border-radius;
		border-top-right-radius: $modal-border-radius;
		padding: 5px 10px 5px 10px;
		font-size: 24px;
	}

	.jambiModal-body {
		padding: 15px;

	}

	.jambiModal-footer {
        background-color: #c2c2c2;
		border-bottom-left-radius: $modal-border-radius;
		border-bottom-right-radius: $modal-border-radius;
		padding: 5px 10px 5px 10px;
		font-size: 24px;
        margin-top: 60px;
	}

.hidden {
	display: none;
}


.addproject-card-container {
    width: 500px;
	height: 600px;
	position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    color: #333;
}