$top-margin: 40px;
$font-size: 13px;
$linecounter-fontsize: 13px;

$editor-fontsize: 13px;
$editor-paddingtop: 20px;

$linecounter-color: rgba(255,255,255,0.8);

@font-face {
    font-family:"Meslo";
    src: url("MesloLGL-Regular.ttf");
}

body,html, .container {
	font-family: 'Source Sans Pro', sans-serif;
	height: 100%;
	margin: 0;
	color: #fff;
	user-select: none;
	-webkit-touch-callout: none;
      -webkit-user-select: none;
    cursor: default;
}


h1,h2,h3 { font-weight: 200;}

.normal {font-weight: 300;}

.center {text-align: center;}
.centered {margin: 0 auto;}
.left { text-align: left;}
.right { text-align: right;}



.topbar {
	background-color: #c5c5c5;
	width: 100%;
	height: $top-margin;
	position: fixed;
	z-index: 11;
	user-select: none;
	-webkit-touch-callout: none;
      -webkit-user-select: none;
    cursor: default;
}

.topbar-tabs {
	overflow: auto;
	overflow-y: hidden;
	height: 100%;
	white-space: nowrap;
	height: 100%;
	background: -webkit-linear-gradient(#ffffff 0%, #c2c2c2 100%);
}

.file-container, #openfiles {
	width: 150px;
	height: 100%;
	display: inline-block;
	border-right: 1px solid #777777;
	
	& a {
		text-decoration: none;
	}
}

.file {
	padding-top: 12px;
	padding-left: 20px;
	padding-bottom: 12px;
	font-size: 13px;
	height: 100%;
	color: #333;
	
	
	&:hover {
		& .close {
			opacity: 1;
		}
	}
	
	& .close {
		color: #545454;
		opacity: 0;
		-webkit-transition:.3s;
				transition: .3s;
		
		&:hover {
			opacity: 1;
			color: #353535;
		}
	}
	
	&.active {
		background-color: rgba(85,85,85,0.53);
	}
}

.newfile-tab {
	font-size: 1.8em;
	color: #7a7a7a;
	right: 10px;
	top: 6px;
	position: absolute;
	-webkit-transition:.3s;
			transition: .3s;
	
	&:hover {
		color: #353535;
	}
}


.editor-container {
	z-index: 1;
	width: 80%;
    width: -webkit-calc(100% - 220px);
    width: -moz-calc(100% - 220px);
    width: calc(100% - 220px);
    
    height: 100%;
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100% - 50px);

	position: absolute;
	margin-right: -230px;
	top:40px;
	overflow: hidden;
	//background-color: #28a1f7;
}

.sidebar {
	right: 0;
	width: 220px;
	height: 100%;
	position: fixed;
	background-color: #f1f1f1;
	z-index: 10;
	padding-top: $top-margin;
	margin-top: -5px;
	font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}

.sidebar-title {
	font-size: 26px;
	background-color: #696969;
	padding: 5px;
}

.sidebar-content {
	color: #333;
	padding: 5px;
}

.sidebar-footer {
	position: absolute;
	bottom: 20px;
	margin-bottom: 50px;
	margin-left: 10px;
	width: 100%;
}

.lowerbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: #727272;
	z-index: 10;
	display: inline-block;
}

.file-ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.jambi-body {
	background-color: #e3e3e3;
	height: 100%;
}

.showcase-body {
	background: -webkit-linear-gradient(#393939 0%, #d3d3d3 100%);	
	margin-top: 40px;
	width: 100%;
	height: 90%;
}

.showcase {
	padding: 0;
	margin: 0;
	vertical-align: middle;
	margin-top: 100px;
	width: 100%;
}

.showcase-item {
	width: calc(100%/4);
}

.showcase,
.showcase-item,
.showcase-body {
	display: inline-block;
}

.showcase-watch {
	background-image: url('../img/showcase/watch.png');
	background-size: 100%;
	height: 180px;
	width: 180px;
	position: absolute;
	background-repeat: no-repeat;
}

.showcase-phone {
	background-image: url('../img/showcase/phone.png');
	background-size: 100%;
	height: 280px;
	width: 100px;
	position: absolute;
	background-repeat: no-repeat;
}

.showcase-tablet {
	background-image: url('../img/showcase/tablet.png');
	background-size: 100%;
	height: 780px;
	width: 400px;
	position: absolute;
	background-repeat: no-repeat;
}

.showcase-laptop {
	background-image: url('../img/showcase/laptop.png');
	background-size: 100%;
	height: 780px;
	width: 400px;
	position: absolute;
	background-repeat: no-repeat;
}

.showcase-pc {
	background-image: url('../img/showcase/pc.png');
	background-size: 100%;
	height: 780px;
	width: 400px;
	position: absolute;
	background-repeat: no-repeat;
}



.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 10px 18px;
	font-size: 15px;
	line-height: 1.42857143;
	border-radius: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}
.btn-mini {
	padding: 1px 5px;
	font-size: 13px;
	line-height: 1.5;
	border-radius: 0;
}
.btn-blue {
	color: #ffffff;
	background-color: #2780e3;
	border-color: #2780e3;
}