.project-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
}

.project {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    -webkit-transition: width 0.5s ease-in-out, left 1s ease-in-out;
    transition: width 0.5s ease-in-out, left 1s ease-in-out;
}

.project-image {
    width: 230px;
    height: 140px;
    background: url('../img/jambi.jpg');
    background-size: cover;
    box-shadow: 2px 4px 4px #000;
    margin: 0 auto;
    text-align: center;
-webkit-transition:.2s;
        transition:.2s;
    &:hover {
        cursor: pointer;
        box-shadow: 6px 8px 12px #000;
    }
}

.project-name {
    padding-top: 10px;
}

// Grid responsive css
.col-xs-12 {
  width: 100%;
  float: left;
  padding-bottom: 35px;
}

@media (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
        float: left;
    }
}

@media (min-width: 992px) { 
    .col-md-4 {
        width: 33.33333333%;
        float: left;
    }
}


@media (min-width: 1200px) { 
    .col-lg-3 {
        width: 25%;
        float: left;
    }
}