.project-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
}

.project,
.addproject {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    -webkit-transition: width 0.5s ease-in-out, left 1s ease-in-out;
    transition: width 0.5s ease-in-out, left 1s ease-in-out;
    
    &.active > .project-name {
        color: #fff !important;
    }
}

.project-image {
    width: 100%;
    height: 140px;
    background: url('../img/jambi.jpg');
    background-size: cover;
    margin: 0 auto;
    text-align: center;
-webkit-transition:.2s;
        transition:.2s;
}

.project-name {
    padding-top: 40px;
    font-size: 16px;
    color: #e96710;
    text-transform: capitalize;
}

// Grid responsive css
.col-xs-12 {
  width: 100%;
  float: left;
  padding-bottom: 35px;
}



.card-container {
  -webkit-perspective: 800;
   width: 260px;
   height: 300px;
   position: relative;
}
.card-container .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.card-container .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.card-container .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
}
.card-container .card .front {
  position: absolute;
  z-index: 1;
    background: black;
    color: white;
}
.card-container .card .back {
  -webkit-transform: rotatey(-180deg);
    background: blue;
    background: white;
    color: black;
    text-align: left;
}


.add-project {
    padding-top: 50%;
    font-size: 3em;
}


.project-file {
    width: 100%;
    height: 30px;
    background-color: red;
}

.project-info {
    color: #aaa;
    padding-left: 2px;
}

.project-info:hover {
    color: #fff;
}
























@media (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
        float: left;
    }
}

@media (min-width: 992px) { 
    .col-md-4 {
        width: 33.33333333%;
        float: left;
    }
}


@media (min-width: 1200px) { 
    .col-lg-3 {
        width: 25%;
        float: left;
    }
}