.editor-container {
  background: url("../img/bluebackground.jpg");
  background-color: #fff;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.editor {
  color: #fff; }

.lc-container {
  color: #fff; }

.CodeMirror-gutters {
  background-color: transparent;
  border-right: none; }
