<div class="codeBg">
	<div class="container-fluid">
		<h1>About</h1>
		<p class="lead">Jambi is a beautiful web development code editor that takes the best features of other IDEs and shoves it into one complete IDE</p>
	</div>

</div>
<div class="container-fluid center">
	<div class="row">
		<div class="col-md-12">
			<div class="spacer"></div>
			<h2>Why should you use it?</h2>
			<p class="lead">

				Jambi came from the idea of making an editor that combines the best of all editors. <br>

			</p>
		</div>
		<div class="col-md-4">
			<img class="center-block" width="200px" src="img/editors/sublime.png">
		</div>
		<div class="col-md-4">
			<img class="center-block" width="200px" src="img/editors/brackets.png">
		</div>
		<div class="col-md-4">
			<img class="center-block" width="200px" src="img/editors/coda.png">
			<div class="spacer-large"></div>
		</div>

		<div class="col-md-12">
			<h1><span class="text-center"><strong>=</strong></span></h1>
			<br>
			<img class="center-block" width="350px" src="img/jambi_logo2.png">
			<div class="spacer-large"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="spacer-large"></div>
			<h2>Features</h2>
			<p>For a full list of features, head over to the <a href="#/features">features page</a>.</p>
			<p class="lead">
				Jambi comes with some amazing features that you'll truely love! <br>
			</p>

			<div class="spacer"></div>
			<hr>
			<h2>Jambi Instas</h2>
			<p class="lead">
				The Insta Engine will make building websites ridiculously fast <br>
				<kbd>$bootstrap_basic</kbd> <br>
				Will give you a full Twitter Bootstrap layout for a site <br>
				And there are literally hundreds of the things!
			</p>

			<hr>

			<h2>Version Control</h2>
			<p class="lead">
				Jambi introduces Version Control integration that actually works <br>
				Git, Mercurial and Jet <br> All come as standard in the editor with a seperate VC profile for each project you make.
			</p>
		</div>
	</div>
</div>