<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>Downloads</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="downloads">
				<h2>Download the most recent release:</h2>
				<ul class="list-inline">
					<li><h3><a href="#">Mac OSX <i class="fa fa-apple"></i></a></h3></li>
					<li><h3><a href="#">Windows <i class="fa fa-windows"></i></a></h3></li>
					<li><h3><a href="#">Linux <i class="fa fa-linux"></i></a></h3></li>
				</ul>
			</div>
		</div>
	</div>
</div>