<div class="jambipreivew-bg">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1>Features</h1>
				<h3>Rich features that all developers will love <i class="fa fa-heart heart"></i></h3>
				<div class="spacer-large"></div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row features text-center">
		<div class="spacer-large"></div>
		<h1>Features Overview</h1>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Super Fast 
				<i class="fa fa-tachometer"></i>
				<br>
				<small>The power of a V8</small>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Flow &amp; JSHint Integration
				<i class="fa fa-facebook"></i>
				<br>
				<small>The ultimate javascript editor</small>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Showcase 
				<i class="fa fa-desktop"></i> <i class="fa fa-laptop"></i> <i class="fa fa-mobile"></i>
				<br>
				<small>The new way of seeing websites</small>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Agile Helpers 
				<i class="fa fa-clock-o"></i>
				<br>
				<small>Watching tasks so you don't have to</small>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="clearfix visible-lg"></div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Version Control Integration 
				<i class="fa fa-github"></i>
				<br>
				<small>Git, Murcurial and Jet <span class="label label-success label-small">New!</span> </small>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Syntax Highlighting
				<i class="fa fa-pencil-square"></i> <br>
				<small>For over 60 different languages!</small> 
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Bracket &amp; Tag Matching 
				<i class="fa fa-code"></i>
				<br>
				<small>Automatic closing brackets &amp; tags</small>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Jambi Server Connetion
				<i class="fa fa-exchange"></i> <br>
				<small>The latest CDN links and Jambi updates</small>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="clearfix visible-lg"></div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Built-in Terminal
				<i class="fa fa-terminal"></i>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Language Syntax Checker
				<i class="fa fa-check"></i>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Mutliple Projects
				<i class="fa fa-folder-open"></i>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				FTP - SFTP - SSH Integration
				<i class="fa fa-upload"></i>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Jambi Instas <br>
				<small>Build websites faster.. much faster	</small>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Built-in Popular CDN Links <br>
				<small>Access popular frameworks with Instas</small>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Built-in Stackoverflow Search
				<br>
				<small>Quick search for problems</small>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				SASS, SCSS &amp; LESS <br>
				<small>Auto-Compile</small>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="clearfix visible-lg"></div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Code Folding
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Autocompletion
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Tabs &amp; Spaces
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				User Set Bindings
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Multi-Platform <br>
				<small>Linux, Windows and Mac OSX</small>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 feature">
			<h3>
				Multiple Themes <br>
				<small>Preset and User-defined</small>
			</h3>
			<div class="spacer visible-xs visible-sm"></div>
		</div>










		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 feature">
			<h2>
				<div class="spacer-large"></div>
				And it's all <strong>Free</strong>
			</h2>
		</div>

		
		<div class="features-bottom"></div>
	</div>
</div>


<script type="text/javascript">
(function() {
	var screenHeight = $( window ).height() + 'px';
	var mq = window.matchMedia( "(min-width: 990px)" );

	$('.jambipreivew-bg').css('height', screenHeight);

	if (mq.matches) {
		$('.feature').hide();
	}
	function isScrolledIntoView(elem)
	{
	    var docViewTop = $(window).scrollTop();
	    var docViewBottom = docViewTop + $(window).height();

	    var elemTop = $(elem).offset().top;
	    var elemBottom = elemTop + $(elem).height();

	    return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
	}

	

	$(window).scroll(function(){
		if($('.features').length !== 0) {
			if(isScrolledIntoView('.features')){

				$(".feature").each(function(index) {
				    $(this).delay(100*index).fadeIn(400);
				});
			}
		}
	});

})();
</script>